<h3>Template: Basicos</h3>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 [ngModel]="initialForm.producName"
                 name="productName"
                 required
                 minlength="3"
                 placeholder="Nombre del producto"
          />
          <span class="form-text text-danger"
                *ngIf="nombreValido()"
          >Debe tener 3 letras</span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number"
                 class="form-control"
                 [ngModel]="initialForm.productValue"
                 name="productValue"
                 required
                 placeholder="Precio del producto"
          />
          <span class="form-text text-danger"
                *ngIf="precioValido()"
          >El precio debe ser 0 o superior</span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias del producto</label>
        <div class="col-sm-9">
          <input type="number"
                 class="form-control"
                 [ngModel]="initialForm.productStock"
                 name="productStock"
                 placeholder="Precio del producto"
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit"
                  [disabled]="miFormulario.invalid"
                  class="btn btn-primary float-end">Guardar
          </button>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre> {{ miFormulario.valid | json}}</pre>
    <br>
    <span>Pristine</span>
    <pre> {{ miFormulario.pristine | json}}</pre>
    <br>
    <span>Touched</span>
    <pre> {{ miFormulario.touched | json}}</pre>
    <br>
    <span>Valid</span>
    <pre> {{ miFormulario.value | json}}</pre>
  </div>
</div>
