<h3>Reactivos: <small>Dinamicos</small></h3>
<hr>

<form (ngSubmit)="guardar()" [formGroup]="persona" autocomplete="off">
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre </label>
    <div class="col-sm-9">
      <input class="form-control"
             type="text"
             formControlName="nombre"
             placeholder="Nombre de la persona">
      <span class="form-text text-danger"
            *ngIf="campoEsValido('nombre')"
      >Este campo es obligatorio</span>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input class="form-control"
               type="text"
               [formControl]="nuevoFavorito"
               (keyup.enter)="agregarFavorito()"
               placeholder="Agregar favorito">
        <button class="btn btn-outline-primary" type="button" (click)="agregarFavorito()">Agregar</button>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos </label>
    <div class="col-sm-9" formArrayName="favoritos">


      <div class="input-group mb-1"
           *ngFor="let favorito of favoritosArr.controls;let i=index"
      >
        <input
          class="form-control"
          [formControlName]="i"
        >
        <button class="btn btn-outline-danger" type="button" (click)="borrarFavorito(i)">Eliminar</button>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary float-end"
              type="button"
              (click)="guardar()">
        Guardar
      </button>
    </div>
  </div>
</form>

<span>Valid</span>
<pre>{{persona.valid}}</pre>

<span>Agregar juego</span>
<pre>{{nuevoFavorito.valid |json}}</pre>

<span>persona</span>
<pre>{{persona.value |json}}</pre>
